<%- include("partials/header") %>

<div class="showcontainer my-4">
    <h2 class="title">New Post</h2>
    <form action="/posts" method="POST">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" name="post[title]" placeholder="Title">
        </div>
        <div class="form-group">
            <label>Image</label>
            <input class="form-control" type="text" name="post[image]" placeholder="Image">
        </div>
        <div class="form-group">
            <label>Blog Content</label>
            <textarea class="form-control" rows="5" name="post[body]"></textarea>
        </div>
        <input class="ui violet big basic button" type="submit" >
    </form>
</div>

<%- include("partials/footer") %>
