<%- include("./partials/header") %>

<div class="container">
    <div style="margin-top: 20px;">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert" style="margin-top: 2px; margin-left: 5px;margin-right: 5px;">
                <div class="header">
                    <%= error %>
                </div>
             </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert" style="margin-top: 2px;margin-left: 5px;margin-right: 5px;">
                <div class="header">
                  <%= success %>
                </div>

              </div>
        <% } %>
    </div>
    <div class="loginform">
        <h1 class="title middle">Create An Account</h1>
        <div style="width:40%; margin:25px auto;">
            <form action="/register" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="loginbtn" type="submit" value="Sign Up">
                </div>
                <a href="/login">Already have an account?</a>
                <br>
                <a href="/posts">Go Back</a>
            </form>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>
